@font-face {
    font-family: 'Roxborough CF';
    src: url("../fonts/RoxboroughCF-Bold.otf") format("opentype");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Roxborough CF';
    src: url("../fonts/RoxboroughCF-BoldItatlic.otf") format("opentype");
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'Roxborough CF';
    src: url("../fonts/RoxboroughCF-DemiBold.otf") format("opentype");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Roxborough CF';
    src: url("../fonts/RoxboroughCF-DemiBoldItalic.otf") format("opentype");
    font-weight: 600;
    font-style: italic;
}
