@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --navbar-height: 70px;
    --bg-white: rgb(255, 255, 255, 1);
    --highlight-red: rgba(153, 0, 0, 1);
  }
  

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', 'serif';
}

body{
    margin: 0% 5% 0% 5%;
    background-color: var(--bg-white);
}


/* Navbar */
.navbar{
    top: 0;
    width: 100%;
    height: var(--navbar-height);
    display: flex;
    align-items: top;
    z-index: 100;
    background-color: var(--bg-white);
}

.logo{
    position: absolute;
    justify-content: left;
    margin: 20px 0px;
}

.logo a{
    font-family: 'Roboto', 'sans-serif';
    font-size: 1.6rem;
    font-weight: 700;
    text-decoration: none;
    color: black;
}

.nav-links{
    right: 5%;
    position: absolute;
    margin: 20px 0px;
}

.nav-links ul{
    display: flex;
    list-style: none;
}

.nav-links ul li{
    padding: 0;
}

.nav-links ul li a{
    font-family: 'Roxborough CF', 'serif';
    font-size: 1.3em;
    font-weight: normal;
    text-decoration: none;
    color: black;
    margin-left: 30px;

    display: inline-block;
    position: relative;
}

.nav-links ul li a::after{
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--highlight-red);
    transform-origin: bottom right;
    transition: transform 0.25s ease;
}

.nav-links ul li a:hover::after{
    transform: scaleX(1);
    transform-origin: bottom left;
}

/* Footer */
footer{
    padding: 50px 0;
    text-align: center;
}

.footer-content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.footer-content h3{
    font-size: 1.8rem;
    font-weight: 400;   

}

.footer-content p{
    font-size: 1.2rem;
    font-weight: 300;
    margin: 20px 0;
}