@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz@9..40&family=Syne:wght@400;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body {
  @apply overflow-hidden;
}

::selection {
  background: #06b17888;
}

.custom-grad {
  /* @apply bg-gradient-to-r from-[#06b178] via-[#a3b32e] to-[#04724d] inline-block text-transparent bg-clip-text; */
  @apply text-secondary;
}

.h-static {
  height: -moz-available;          /* WebKit-based browsers will ignore this. */
  height: -webkit-fill-available;  /* Mozilla-based browsers will ignore this. */
}

/* Nav Items */

.nav-item {
  @apply mx-3 my-1 sm:my-1 sm:mx-0 text-sm sm:text-xl cursor-pointer font-syne font-bold sm:w-10;
  /* @apply bg-gradient-to-r from-[#06b178] via-[#a3b32e] to-[#04724d]; */
  @apply bg-gradient-to-r from-secondary to-secondary;
  border-bottom-width: 0;
  background-size: 0 3px;
  background-position: 0 100%;
  background-repeat: no-repeat;
  transition: background-size .5s ease-in-out;
}

.nav-item:hover:not(.active) {
  opacity: 0.5;
}

.nav-item.active {
  background-size: 100% 3px;
  background-position: 0 100%;
}

/* Projects Page */

.project-li {
  @apply bg-gradient-to-r from-transparent from-50% to-[#06b178];
  background-repeat: no-repeat;
  background-position: right;
  background-size: 0 100%;
  transition: background-size .5s ease-in-out;
}

.project-li:hover {
  background-size: 100% 100%;
}

/* Playground Page */

.playground-li {
  @apply font-syne font-bold text-lg sm:text-3xl text-center pb-4 sm:text-right;
}

.playground-li:hover {
  @apply text-secondary;
}

/* Contact Page */

.contact-link {
  @apply text-4xl text-right sm:text-8xl font-syne font-bold;
  background-position: right;
  background-size: 50% 100%;
  padding-right: 5%;
  right: 100%;
  transition: background-size 0.5s ease-in-out;
}

.contact-link:hover {
  /* @apply bg-gradient-to-r from-[#06b178] via-[#a3b32e] to-[#04724d] text-transparent bg-clip-text; */
  @apply bg-gradient-to-r from-secondary to-secondary text-transparent bg-clip-text;
  font-style: italic;
  background-size: 100% 100%;
}